In [112]:
import pandas as pd
import collections

In [113]:
# using sample data from https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/mpl-data/sample_data/percent_bachelors_degrees_women_usa.csv
file_name = "../data/percent_bachelors_degrees_women_usa.csv"

In [114]:
# extract extension
extension = file_name.rsplit('.', 1)[1].lower() 

# process into dataframe
if extension == 'csv':
    df = pd.read_csv(file_name)

In [115]:
# extract metadata and stats from the dataset
name = file_name.split('/')[-1]
rows_n = df.shape[0]
columns_n = rows = df.shape[1]
columns = list(df.columns)

In [116]:
print(f'Inside of {name} we can observe {rows_n} rows and {columns_n} columns of data. ')

Inside of percent_bachelors_degrees_women_usa.csv we can observe 42 rows and 18 columns of data.

In [117]:
# types of columns
types_list = []

for i in list(df.dtypes):
    types_list.append(str(i))
    
types_series = pd.Series(types_list)
types = dict(types_series.groupby(types_series).agg('count'))

In [118]:
try:
    print(f"There are {types['float64']} numerical columns, and {types['object']} string columns.")
except:
    print('The data is interesting')

The data is interesting

In [119]:
# column with highest std
high_std_value = round(float(pd.DataFrame(df.describe().loc['std']).sort_values('std').iloc[-1]), 2)
high_std_name = pd.DataFrame(df.describe().loc['std']).sort_values('std').iloc[-1].name
low_std_value = round(float(pd.DataFrame(df.describe().loc['std']).sort_values('std').iloc[1]), 2)
low_std_name = pd.DataFrame(df.describe().loc['std']).sort_values('std').iloc[1].name

In [120]:
print(f'{high_std_name} has the highest standard deviation ({high_std_value}), whereas {low_std_name} has the lowest standard deviation ({low_std_value}).')

Business has the highest standard deviation (13.12), whereas Foreign Languages has the lowest standard deviation (1.93).

In [121]:
df.describe()

,Year,Agriculture,Architecture,Art and Performance,Biology,Business,Communications and Journalism,Computer Science,Education,Engineering,English,Foreign Languages,Health Professions,Math and Statistics,Physical Sciences,Psychology,Public Administration,Social Sciences and History
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000
mean,1990.500000,33.848165,33.685540,61.100000,49.429864,40.653471,56.216667,25.809524,76.356236,12.892857,66.186680,71.723810,82.983333,44.478571,31.304762,68.776190,76.085714,45.407143
std,12.267844,12.552731,9.574057,1.305336,10.087725,13.116109,8.698610,6.688753,2.212641,5.670824,1.950990,1.926682,2.914967,2.646262,9.000866,9.705463,5.879504,4.763653
min,1970.000000,4.229798,11.921005,58.600000,29.088363,9.064439,35.300000,13.600000,72.166525,0.800000,61.647206,69.000000,75.500000,38.000000,13.800000,44.400000,62.600000,36.100000
25%,1980.250000,30.840814,28.520709,60.200000,44.311821,37.390851,55.125000,19.125000,74.994573,10.625000,65.583807,70.125000,81.825000,42.875000,24.875000,65.550000,74.625000,43.825000
50%,1990.500000,33.317552,35.994852,61.300000,50.971469,47.210123,59.850000,27.300000,75.937020,14.100000,66.112018,71.150000,83.700000,44.900000,32.100000,72.750000,77.450000,45.300000
75%,2000.750000,45.663953,40.790605,62.000000,58.679194,48.876139,62.125000,29.775000,78.619420,16.950000,67.861247,73.875000,85.175000,46.500000,40.200000,76.925000,81.100000,49.375000
max,2011.000000,50.037182,44.499331,63.400000,62.169456,50.552335,64.600000,37.100000,79.618625,19.000000,68.894487,75.300000,86.500000,48.300000,42.200000,77.800000,82.100000,51.800000